html {
  color: $retro-purps;
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 20px;
  height: 100%;
}

.tile.is-child{
  margin: 20px 10px 0 10px !important;
  color: black !important;
  background-color: $retro-purps !important;
}
.dashboard::after {
}

.dashboard{
  background-color: black;

}

.container {

}

.section{

}

// Anurati
// Azonix
// Blanka
// Dual-300
// Halogen
// Gravedigger
// Gtek
// Neptune
// Rock_Rinder
// Spac3_Neon
// Spac3_Tech
// Trench


.column-1{
  font-family: Gravedigger;
}

.column-2{
  font-family: Rock_Rinder;
}

.column-3{
  font-family: Spac3_Tech;

}

.column-4{
  font-family: Neptune;

}

.loading {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  border-color: red;
}

.selected{
  background: $hover-gray;
}



::-webkit-scrollbar { // MAKES SCROLLBAR TRANSPARENT
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.scrollableDiv {
   overflowY: hidden;
}
