// Anurati
// Azonix
// Blanka
// Dual-300
// Halogen
// Gravedigger
// Gtek
// Neptune
// Rock_Rinder
// Spac3_Neon
// Spac3_Tech
// Trench


@font-face {
  font-family: 'Twolines';
  src: url('fonts/2lines.ttf');
}

@font-face {
  font-family: 'AndromedaEclipsis';
  src: url('fonts/AndromedaEclipsis.ttf');
}

@font-face {
  font-family: 'Anurati';
  src: url('fonts/Anurati.otf');
}

@font-face {
  font-family: 'Azonix';
  src: url('fonts/Azonix.otf');
}

@font-face {
  font-family: 'Blanka';
  src: url('fonts/Blanka.otf');
}

@font-face {
  font-family: 'barcade';
  src: url('fonts/barcade.ttf');
}

@font-face {
  font-family: 'Dual-300';
  src: url('fonts/Dual-300.otf');
}

@font-face {
  font-family: 'Earth-Orbiter';
  src: url('fonts/Earth-Orbiter.ttf');
}

@font-face {
  font-family: 'Gravedigger';
  src: url('fonts/Gravedigger.otf');
}

@font-face {
  font-family: 'Gtek';
  src: url('fonts/Gtek.ttf');
}

@font-face {
  font-family: 'Halogen';
  src: url('fonts/Halogen.otf');
}

@font-face {
  font-family: 'Neptune';
  src: url('fonts/Neptune.otf');
}

@font-face {
  font-family: 'Rock_Rinder';
  src: url('fonts/Rock_Rinder.otf');
}

@font-face {
  font-family: 'Spac3_Neon';
  src: url('fonts/Spac3_Neon.ttf');
}

@font-face {
  font-family: 'Spac3_Tech';
  src: url('fonts/Spac3_Tech.ttf');
}
@font-face {
  font-family: 'Trench';
  src: url('fonts/Trench.ttf');
}
