// Colors

$pink: #FE3CFF;
$bluish-gray: #9cabc9;
$outrun-blue: #00D4FF;
$hover-gray:#7DC3CD;
$purps: #6F00A2;
$gray: #333449;

// Spacing
$xs-size: .6rem;
$s-size: .8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
//

$hover-transition: background-color .4s ease-out;
